---
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
import { Icon } from "astro-icon/components";
---

<section id="aboutme" class="p-4 flex gap-2 text-balance">
  <div
    class="flex flex-1 flex-col sm:flex-row gap-x-2 gap-y-1 sm:justify-between"
  >
    <div class="flex gap-4">
      <div class="basis-[40%]">
        <img src="/perfil.webp" alt="foto de perfil" width="184" height="184" />
      </div>
      <div>
        <p class="text-3xl">Rodrigo Riquelme</p>
        <div class="flex items-center gap-1">
          <Icon name="cl" class="size-4" />
          <p class="text-white/80">Concepción, Chile.</p>
        </div>
        <p class="font-semibold text-lg sm:pt-8">
          Desarrollador Web Full Stack
        </p>
        <p class="text-white/80">
          +1 año desarrollando proyectos personales web y móvil
        </p>
      </div>
    </div>
    <div class="flex flex-col w-full max-w-xs mx-auto sm:mx-0">
      <div
        class="flex items-center gap-2 pb-1 justify-center sm:justify-normal"
      >
        <p>Nivel</p>
        <div
          class="flex border-2 h-7 w-7 rounded-full items-center justify-center border-orange-300"
        >
          <span>99</span>
        </div>
      </div>
      <div class="bg-white/15 rounded-md p-2 flex items-center gap-2">
        <img
          src="/insignia.webp"
          class="size-10 sm:size-14 md:size-16 rounded-md"
          alt="insignia"
        />
        <div>
          <p>Alquimista de Acero</p>
          <p>500 XP</p>
        </div>
      </div>
      <div class="flex gap-4 pt-4 justify-center sm:ju">
        <a
          href="https://www.linkedin.com/in/rodrignaciort/"
          target="_blank"
          rel="noopener"
          class="hover:scale-125"
        >
          <LinkedIn />
        </a>
        <a
          href="https://github.com/Tou-u"
          target="_blank"
          rel="noopener"
          class="hover:scale-125"
        >
          <GitHub />
        </a>
      </div>
    </div>
  </div>
</section>
