---
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
---

<section class="p-4 flex gap-2">
  <div class="flex flex-1 flex-col sm:flex-row gap-1 sm:justify-between">
    <div class="flex gap-4">
      <img src="/img.jpg" class="w-[40%] object-contain" />
      <div>
        <p class="text-3xl">Rodrigo Riquelme</p>
        <div class="flex items-center gap-1">
          <img src="/cl.svg" class="w-4 h-4" />
          <p class="text-white/80">Concepción, Chile.</p>
        </div>
        <p class="font-semibold text-lg sm:pt-8">
          Desarrollador Web Full Stack
        </p>
        <div class="flex gap-2">
          <LinkedIn />
          <GitHub />
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full max-w-xs mx-auto sm:mx-0">
      <div
        class="flex items-center gap-2 pb-2 justify-center sm:justify-normal"
      >
        <p>Nivel</p>
        <div
          class="flex border-2 h-7 w-7 rounded-full items-center justify-center"
        >
          <span>99</span>
        </div>
      </div>
      <div class="bg-black/50 rounded-md p-2 flex items-center gap-2">
        <img src="/insignia.webp" class="w-16 rounded-md" />
        <div>
          <p>Alquimista de Acero</p>
          <p>500 XP</p>
        </div>
      </div>
    </div>
  </div>
</section>
