---
import LinkedIn from "./icons/LinkedIn.astro";
import GitHub from "./icons/GitHub.astro";
import { Image } from "astro:assets";
import Perfil from "../images/perfil.jpg";
import Insignia from "../images/insignia.webp";
---

<section class="p-4 flex gap-2">
  <div
    class="flex flex-1 flex-col sm:flex-row gap-x-2 gap-y-1 sm:justify-between"
  >
    <div class="flex gap-4">
      <div class="basis-[40%]">
        <Image src={Perfil} alt="perfil" class="object-contain" />
      </div>
      <div>
        <p class="text-3xl">Rodrigo Riquelme</p>
        <div class="flex items-center gap-1">
          <img src="/cl.svg" class="w-4 h-4" alt="bandera de chile" />
          <p class="text-white/80">Concepción, Chile.</p>
        </div>
        <p class="font-semibold text-lg sm:pt-8">
          Desarrollador Web Full Stack
        </p>
        <div class="flex gap-2 pt-1">
          <LinkedIn />
          <GitHub />
        </div>
      </div>
    </div>
    <div class="flex flex-col w-full max-w-xs mx-auto sm:mx-0">
      <div
        class="flex items-center gap-2 pb-1 justify-center sm:justify-normal"
      >
        <p>Nivel</p>
        <div
          class="flex border-2 h-7 w-7 rounded-full items-center justify-center border-orange-300"
        >
          <span>99</span>
        </div>
      </div>
      <div class="bg-black/50 rounded-md p-2 flex items-center gap-2">
        <Image src={Insignia} alt="Insignia" class="w-16 h-16 rounded-md" />
        <div>
          <p>Alquimista de Acero</p>
          <p>500 XP</p>
        </div>
      </div>
    </div>
  </div>
</section>
