<nav
  class="relative flex flex-wrap w-full items-center justify-between border-b-1 h-[60px] border-white/20"
>
  <div class="flex w-full items-center justify-center gap-2">
    <a class="text-lg font-semibold p-1 rounded-md hover:bg-white/10" href="#"
      >Sobre mí</a
    >
    <a class="text-lg font-semibold p-1 rounded-md hover:bg-white/10" href="#"
      >Tecnologias</a
    >
    <a class="logo h-[80px] w-[80px]" href="/"></a>
    <a class="text-lg font-semibold p-1 rounded-md hover:bg-white/10" href="#"
      >Proyectos</a
    >
    <a class="text-lg font-semibold p-1 rounded-md hover:bg-white/10" href="#"
      >Experiencia</a
    >
  </div>
</nav>

<style>
  .logo {
    clip-path: polygon(0% 0%, 100% 0%, 70% 100%, 30% 100%);
    background: url("/public/icon.png") no-repeat center center;
    background-size: contain;
    background-clip: padding-box;
    background-color: red;
  }
</style>
