<nav>
  <section class="hidden sm:flex justify-center items-center gap-8 h-[60px]">
    <a
      class="text-lg font-semibold p-1 rounded-md hover:bg-white/10"
      href="#sobremi">Sobre mí</a
    >
    <a
      class="text-lg font-semibold p-1 rounded-md hover:bg-white/10"
      href="#experiencia">Experiencia</a
    >
    <a
      class="text-lg font-semibold p-1 rounded-md hover:bg-white/10"
      href="#tecnologias">Tecnologías</a
    >
    <a
      class="text-lg font-semibold p-1 rounded-md hover:bg-white/10"
      href="#proyectos">Proyectos</a
    >
  </section>
</nav>
