<nav>
  <section
    class="flex justify-center items-center bg-black/80 rounded-full px-2 py-1 my-2 w-fit mx-auto gap-4"
  >
    <a class="text-lg font-semibold hover:underline" href="#aboutme">Sobre mí</a
    >
    <a class="text-lg font-semibold hover:underline" href="#experience"
      >Experiencia</a
    >
    <a class="text-lg font-semibold hover:underline" href="#projects"
      >Proyectos</a
    >
  </section>
</nav>
