---
import { Icon } from "astro-icon/components";
---

<section class="px-4 pb-4 overflow-hidden">
  <div
    class="bg-[rgba(175,46,138,0.13)] p-2 rounded-t-md text-lg font-semibold"
  >
    Tecnologías Favoritas
  </div>
  <div class="bg-black/50 rounded-b-md py-4 px-2">
    <div
      class="grid grid-cols-[repeat(auto-fit,minmax(50px,1fr))] place-items-center gap-2"
    >
      <Icon name="react" />
      <Icon name="svelte" />
      <Icon name="astro" />
      <Icon name="nextdotjs" />
      <Icon name="tailwindcss" />
      <Icon name="prisma" />
      <Icon name="docker" />
      <Icon name="git" />
      <Icon name="javascript" />
      <Icon name="postgres" />
      <Icon name="postman" />
      <Icon name="supabase" />
      <Icon name="typescript" />
      <Icon name="zod" />
    </div>
  </div>
</section>

<style>
  [data-icon] {
    height: 50px;
    width: 100%;
  }

  [data-icon]:hover {
    scale: 1.3;
  }
</style>
