<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rodrigo Riquelme - Portafolio</title>
  </head>
  <body class="dark text-foreground bg-background">
    <main class="max-w-6xl m-auto">
      <slot />
    </main>
  </body>
</html>
